/* @import '~antd/dist/antd.css';

@font-face {
  font-family: 'Tajawal Bold';
  font-style: normal;
  font-weight: normal;
  src: local('../../fonts/Tajawal Bold'), url('../../fonts/Tajawal-Bold.woff') format('woff');
  } */



.initial-page {
  text-align: center;
  margin-top: 10rem;
}

.logo {
  width: 150px;
  height: 150px;
  pointer-events: none;
}

h1 {
  font-size: 4rem;
  color: white;
}

.button-group {
  margin-top: 5rem;
  opacity: 0.85;
}
/* .button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  vertical-align: middle;
} */
.suggest-button {
  padding-right: 5rem;
  padding-left: 5rem;
}
